streamlit==1.32.0
streamlit-webrtc==0.47.1
openai==1.12.0
python-dotenv==1.0.1
httpx
numpy==1.26.4
av==10.0.0
soundfile
pandas==2.2.1
openpyxl 
plotly==5.19.0
xlrd
matplotlib
seaborn
scipy
google-auth
google-auth-oauthlib
google-auth-httplib2
gspread
supabase
sounddevice==0.4.6